footer{
    div{
        margin: 0% 15%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: start;
        height: 90px;
        h5{
            color: white;
            padding: 5%;
        }
    }

    @media screen and (max-width: 1000px){
        margin: 0px;
        h5{
            color: white;
            padding: 5%;
            font-size: 11px;
        }
        p{
            font-size: 10px;
        }
    }
}