footer{
    div{
        margin: 0% 15%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: start;
        height: 90px;
        h5{
            color: white;
            padding: 5%;
        }
    }
}