main{
    display: flex;
    flex-direction: column;
    //width: 70%;
    justify-content: center;
    align-content: center;
    .parte-superior-izq{
         background-color: black;
         color: white;
         display: flex;
         align-items: start;
         flex-direction: column;
         padding: 5px 15%;
         .texto-ubicacion{
            border-left: 2px solid white;
            height: 40px;
            p{
                padding-left: 25px;
                font-size: 13px;
            }
         }
         .contenedor-imagen-logo{
            height: 55px;
            width: 300px;
             display: flex;
            // align-items: center;
             justify-content: center;
             border-bottom: 0.9px dashed white;
             img{
                 //padding-top: 30px;
                 width: 245px;
                 height: 30px;
                 //padding-bottom: 10px;
                 //border-left: 0.1px solid white;
             }
             
         }
        .texto-corto{
            border-right: 0.1px solid white;
            width: 100%;
            height: 100px;
            margin-bottom: 25px;
            p{ 
                width: 275px;
                padding: 15px;
                font-size: 14px;
            }
        }
    }

    .imagenes-centrales{
        padding: 0% 15%;
        display: flex;
        flex-direction: column;
        .contenedor-imagenes{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 880px;
            .imagen-fondo{
                position: absolute;
                top: 31%;
                width: 785px;
                
               //margin-left: 60px;
            }
            .maniqui{
                z-index: 2;
                position: absolute;
                padding-right: 60px;    
            }
            .letras-portada{
                z-index: 3;
                position: relative;
                width: 1185px;
                padding-bottom: 270px;
                padding-left: 20px;
            }

        }
        
        h2{
            color: gray;
            padding: 3% 8%;
        }
    }

    .seccion-informacion{
        background: url('/Assets/bg-asset-2.png');
        background-size: contain;
        height: 320px;
        color: white;
        display: flex;
        padding: 3% 11%;
        justify-content: space-around;
        p{
            width: 250px;
            //padding-left: 5%;
            font-size: 14px;
        }
    }
    .seccion-recordatorios{
        display: flex;
        margin: 0% 15% 90px;
        height: 300px;
        //justify-content: space-between;
        img{
            position: relative;
            width: 370px;
            height: 500px;
            top: -170px;
            margin-left: 4%;
           // box-shadow: 8px 8px 10px 5px;
        }
        div{
           // align-self: flex-end;
            margin-left: 75px;
            //height: 60px;
            margin-top: 85px;
            width: 300px;
        }
    }

    .formulario-suscripcion{   
        border-top: 1px solid  #c2a278;
        .contenedor-formulario{
            margin:0% 15% 2%;
            h2{
                position: relative;
                top:-20px;
                border-right: 2px solid  black;
                width:600px;
            }
            form{
                //display: flex;
                input[type="text"], textarea,#inputState {
                    border-radius: 0%;
                    background-color : #d1d1d1;             
                  }
                  button{
                      background-color: #f0c891;
                      border-color: #f0c891;
                      border-radius: 0%;
                  }
            }
        }
    }
}