main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .parte-superior-izq{
        background-color: black;
        color: white;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 5px 15%;
        .texto-ubicacion{
            border-left: 2px solid white;
            height: 40px;
            p{
                padding-left: 25px;
                font-size: 13px;
            }
        }
        .contenedor-imagen-logo{
            height: 55px;
            width: 300px;
            display: flex;
            justify-content: center;
            border-bottom: 0.9px dashed white;
            img{
                width: 245px;
                height: 30px;;
            }
            
        }
        .texto-corto{
            border-right: 0.1px solid white;
            width: 100%;
            height: 100px;
            margin-bottom: 25px;
            p{ 
                width: 275px;
                padding: 15px;
                font-size: 14px;
            }
        }
    }

    .imagenes-centrales{
        padding: 0% 15%;
        display: flex;
        flex-direction: column;
        .contenedor-imagenes{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 880px;
            .imagen-fondo{
                position: absolute;
                top: 31%;
                width: 785px;
            }
            .maniqui{
                z-index: 2;
                position: absolute;
                padding-right: 60px;    
            }
            .letras-portada{
                z-index: 3;
                position: relative;
                width: 1185px;
                padding-bottom: 270px;
                padding-left: 20px;
            }

        }
        
        h2{
            color: gray;
            padding: 3% 8%;
        }
    }

    .seccion-informacion{
        background: url('/Assets/bg-asset-2.png');
        background-size: contain;
        height: 320px;
        color: white;
        display: flex;
        padding: 3% 11%;
        justify-content: space-around;
        p{
            width: 250px;
            font-size: 14px;
        }
    }
    .seccion-recordatorios{
        display: flex;
        margin: 0% 15% 90px;
        height: 300px;
        img{
            position: relative;
            width: 370px;
            height: 500px;
            top: -170px;
            margin-left: 4%;
        }
        div{
            margin-left: 75px;
            margin-top: 85px;
            width: 300px;
        }
    }

    .formulario-suscripcion{   
        border-top: 1px solid  #c2a278;
        .contenedor-formulario{
            margin:0% 15% 2%;
            h2{
                position: relative;
                top:-20px;
                border-right: 2px solid  black;
                width:600px;
            }
            form{
                input[type="text"], textarea,#inputState {
                    border-radius: 0%;
                    background-color : #d1d1d1;             
                }
                button{
                    background-color: #f0c891;
                    border-color: #f0c891;
                    border-radius: 0%;
                }
            }
        }
    }
    @media screen and (max-width: 1000px){
       .parte-superior-izq{
        padding: 0%;
        padding-left: 15px;
        .texto-corto{
            p{
                width: 155px;
                font-size: 11px;
            }
        }
       }
       
       .imagenes-centrales{
           .contenedor-imagenes{
               height: 320px;
               .imagen-fondo{
                    width: 80%;
                    height: 60%;
                    top: 35%;
               }
               .maniqui{
                   width: 23%;
                   padding: 0px;
                   top: 47%;
               }
               .letras-portada{
                    width: 330px;
                    padding: 0px;
               }
           }
       }

       .seccion-recordatorios{
           margin: 0px;
           img{
                width: 165px;
                height: 240px;
                top: -45%;
           }
           div{
               margin: 55px 0px 0px;
               h2{
                   font-size: 14px;
               }
               p{
                   font-size: 12px;
               }
           }
       }

       .seccion-informacion{
           p{
               width: 180px;
               font-size: 13px;
           }
       }

       .formulario-suscripcion{
           .contenedor-formulario{
               h2{
                   width: 260px;
                   font-size: 14px;
                   top: -10px;
                }
            }
       }
    }
}
